*{
  box-sizing: border-box;
  margin: 0;
}
h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.75em;
}
section{
  border: 1px solid black;
  margin-bottom: 20px;
  background-color: grey;
  float: left;
  margin-right: 10px;
}
h2{
  width: 120px;
  border: 1px solid black;
  text-align: center;
  float: right;
  position: relative;
  font-size: 1.25em;
}
p{
  height: 250px;
  margin-top: 30px;
  padding: 10px;
}
.row{
  padding: 20px;
}
#box1{
  background-color: salmon;
}
#box2{
  background-color: red;
  color: ghostwhite;
}
#box3{
  background-color: yellow;
}
@media(min-width: 992px){
  section{
    width: calc(33.3% - 10px);
    height: 200px;
  }
}
@media(min-width: 762px) and (max-width: 991px){
  section{
    width: calc(50% - 5px);
    height: 210px;
  }
  section:nth-child(2){
    margin-right:0 ;
  }
  section:last-child{
    width: 100%;
    height: 130px;
  }
  
}
@media(max-width: 761px){
  section{
    width: 100%;
    height: 150px;
  }
}